A:LINK
	{
	FONT-SIZE: 10PT;
	COLOR: BLUE;
	BACKGROUND: TRANSPARENT;
	}
A:VISITED
	{
	FONT-SIZE: 10PT;
	COLOR: BLUE;
	BACKGROUND: TRANSPARENT;
	}
A:ACTIVE
	{
	FONT-SIZE: 10PT;
	COLOR: BLUE;
	}
A:HOVER
	{
	FONT-WEIGHT: 700;
	LETTER-SPACING: 1.5PT;
	BACKGROUND: TRANSPARENT;
	BACKGROUND: LIGHTGREEN;
	}
H1
	{
	TEXT-ALIGN: CENTER;
	LINE-HEIGHT: 30PX;
	BACKGROUND: TEAL;
	FONT-SIZE: 18PT;
	FONT-VARIANT: SMALL-CAPS;
	COLOR: CYAN
	}
H2
	{
	TEXT-ALIGN: CENTER;
	BACKGROUND: #00FFFF;
	FONT-SIZE: 10PT;
	COLOR: RGB(0%,0%,0%)
	}
H3
	{
	TEXT-ALIGN: CENTER;
	BACKGROUND: BLACK;
	FONT-SIZE: 10PT;
	COLOR: AQUA
	}
H4
	{
	TEXT-ALIGN: CENTER;
	BACKGROUND: YELLOW;
	FONT-SIZE: 10PT;
	COLOR: RGB(0%,0%,0%)
	}
H5
	{
	TEXT-ALIGN: CENTER;
	BACKGROUND: LIGHTGREEN;
	FONT-SIZE: 10PT;
	COLOR: RGB(0%,0%,0%)
	}
P
	{
	FONT-STYLE: NORMAL;
	FONT-WEIGHT= 500;
	FONT-SIZE: 12PT;
	}
SPAN.INTRO
	{
	FONT-WEIGHT= bold;
	COLOR: #0000FF
	}
SPAN.MAIN
	{
	FONT-SIZE: 12PT;
	COLOR: RED
	}
LI.DOC
	{
	LIST-STYLE: URL("IMAGES\BULLET5.GIF")
	}
LI.HAND
	{
	LIST-STYLE: URL("IMAGES\BULLET7.GIF")
	}
LI.DISC
	{
	LIST-STYLE: URL("IMAGES\DISC.BMP")
	}
BODY.MIC
	{
	BACKGROUND-IMAGE: URL("IMAGES\newbgimg.gif");
	BACKGROUND-ATTACHMENT: FIXED;
	BACKGROUND-COLOR: #FFFFFF;
	BACKGROUND-COLOR: #FFFFE7;
	BACKGROUND-REPEAT: NO-REPEAT;
	BACKGROUND-POSITION: 50%;
	}
BODY
	{
	BACKGROUND-COLOR: #FFFFE7;
	}